name: Build Simulation2D Team

on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main
      - dev

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            g++ build-essential libboost-all-dev \
            libaudio-dev libgtk-3-dev libxt-dev \
            bison flex \
            qtbase5-dev qttools5-dev-tools

      - name: Build team (starter-stack)
        run: |
          cd starter-stack
          chmod +x makeFirstTime.sh
          ./makeFirstTime.sh
