name: Generate Documentation

on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main
      - dev

jobs:
  build-docs:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Doxygen and Graphviz
        run: |
          sudo apt-get update
          sudo apt-get install -y doxygen graphviz

      - name: Make generate_docs.sh executable
        run: chmod +x scripts/generate_docs.sh

      - name: Generate documentation
        run: ./scripts/generate_docs.sh

      - name: Upload docs as artifact
        uses: actions/upload-artifact@v4
        with:
          name: docs
          path: docs/
