name: Deploy Docs to GitHub Pages

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Doxygen and Graphviz
        run: |
          sudo apt-get update
          sudo apt-get install -y doxygen graphviz

      - name: Make generate_docs.sh executable
        run: chmod +x scripts/generate_docs.sh

      - name: Generate documentation
        run: ./scripts/generate_docs.sh

      - name: Configure GitHub Pages
        uses: actions/configure-pages@v5

      - name: Upload docs artifact for Pages
        uses: actions/upload-pages-artifact@v3
        with:
          # vamos publicar a pasta onde fica o index.html do Doxygen
          path: docs/api/html

  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
